* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
 
.main-head {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 10vh;
  box-shadow: 0.1px 0.5px 10px #dddfe6;
}

.img-2 {
  position: absolute;
  transform: translateX(-50%);
}

.humberger {
  position: absolute;
  top: 2%;
  right: 2.5%;
}

span {
  background: #c4c4c4;
  padding: 0.2rem 2rem;
  margin: 0.6rem;
  display: block;
}

