* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main-head {
  border: 2px solid red;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  box-shadow: 0px 0.5px 10px #DDDFE6;
}

.main-head nav {
  width: 100%;
}

nav ul {
  list-style: none;
  border: 2px solid green;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

a,
p {
  font-size: 2.6rem;
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* section: intro */
.intro {

}

.intro-text {

}

.intro-img {

}